---
import PageLayout from "@/layouts/Base";
import { getAllPosts, getUniqueSeriesWithCount } from "@/utils";

// Redirect to /posts since we don't want a standalone series index page
return Astro.redirect("/posts");

const allPosts = await getAllPosts();
const allSeries = getUniqueSeriesWithCount(allPosts);

const meta = {
	title: "All Series",
	description: "A list of all the series I've written about in my posts",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 text-2xl font-semibold">Series</h1>
	<ul class="flex flex-row flex-wrap gap-3">
		{
			allSeries.map(([series, count]) => (
				<li class="flex items-center gap-x-2 rounded-3xl bg-gray-100 px-3 py-1.5 font-medium text-black dark:bg-ghostindigo-700 dark:text-white">
					<a
						class="inline-block font-mono text-sm"
						href={`/series/${series}/`}
						title={`View all ${count} posts in the series: ${series}`}
						rel="prefetch"
					>
						{series} ({count})
					</a>
				</li>
			))
		}
	</ul>
</PageLayout>