---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";
import { slugify } from "../../utils/post";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false, ...rest } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---

<FormattedDate date={postDate} class="post-date" />
<Tag {...rest}>
	<a href={`/writing/posts/${post.id}`} class="editorial-link post-title" rel="prefetch">
		{post.data.seriesCount ? post.data.series : post.data.title}
	</a>
	{
		post.data.seriesCount && (
			<>
				<span class="series-separator" aria-hidden="true">
					{" "}
					·{" "}
				</span>
				<a href={`/writing/series/${slugify(post.data.series)}`} class="series-link" rel="prefetch">
					Series · {post.data.seriesCount} posts
				</a>
			</>
		)
	}
</Tag>
{withDesc && <span class="post-description">{post.data.description}</span>}
